*{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
}
@font-face {
    src:url(iconfont.ttf);
    font-family: "sb";
}
i{
    font-family: "sb";
}
#qu{
    color: floralwhite;

}
#DAdiv{

    height: 663px;
    /*outline: solid 1px red;*/
    /*border: solid 1px;*/
    overflow: hidden;
    background-image: url("../img/2.etc.jpg");
    background-size: cover;
}

#dao{
    /*outline: solid 1px;*/
    height: 85px;

}
#mjau{
    font-size: 40px;
    color: rgba(255, 86, 77, 0.96);

    transition: animation 1s;
}
#mjau1{
    font-size: 40px;
    color: rgba(176, 183, 190, 0.96);
    /*outline: solid 1px;*/
}
#tebo{
    display: inline-block;
     transition:transform .9s;
    /*border: solid 1px;*/
    margin-left: 100px;
    /*position: relative;*/
}
#tebo:hover{
    transform: rotateY(360deg);
    transform-origin: center;

}
#chang{

    /*outline: solid 1px chartreuse;*/
    display: inline;

}

#dao>ul{
    list-style: none;
    /*outline: solid 1px gold;*/
    float: right;
    margin-top: 55px;
    margin-right: 140px;
    text-align: center;
}
#dao>ul>li{
    float: left;
    width: 100px;
    height: 30px;
    /*outline: solid 1px;*/
}
#xiala>div{
    width: 285px;
    height: 404px;
    /*outline: solid 1px;*/
    float: left;

}
#xia1{
    margin-left: 100px;
}
 p{
    color: rgba(81,94,101,0.8);
     font-size: .85rem
}
#xiala h2{
    color:#2D3438;
}
#D1{
    position: relative;

}
#xiala{
    width: 1348px;
    /*height: 315px;*/
    /*outline: solid 1px red;*/
    position: absolute;
    left: -820px;
    top: 30px;
    display: none;
}
#xia1>div{
    width: 250px;
    height: 166px;
    /*outline: solid 1px;*/
    margin: auto;
}
#la2{
    width: 250px;
    height: 166px;
    /*outline: solid 1px;*/
    margin: auto;
}
#la3{
    width: 250px;
    height: 166px;
    /*outline: solid 1px;*/
    margin: auto;
}
#la4{
    width: 250px;
    height: 166px;
    /*outline: solid 1px;*/
    margin: auto;
}
#D1:hover{
    background-color: #d9dcdf;

}
#D1:hover #xiala{
    display: block;
    background-color: #d9dcdf;
    z-index: 999;
}
/*第二个导航*/
#D2{
    position: relative;
}
#xiala2{

    width: 1348px;
    height: 315px;
    /*outline: solid 1px red;*/
    position: absolute;
    left: -920px;
    top: 30px;
    visibility: hidden;
    /*visibility: hidden;*/
}
#xiala2 ul{
    list-style: none;
    color: rgba(81,94,101,0.75);
    font-size: .85rem;
    margin-top: 30px;
}
#xiala2>div{
    width: 265px;
    height: 300px;
    /*outline: solid 1px;*/
    float: left;
    text-align: center;
}
#fanzhuan{
    margin-left: 100px;
    /*border: solid 1px;*/
    position: relative;
    text-align: center;

}
#fei{
    width: 221px;
    height: 221px;
    position: absolute;
    left: 20px;
}
#feo{
    width: 221px;
    height: 221px;
    float: left;
    margin-left: 20px;
}
@-webkit-keyframes my {
    from{
        transform: rotateY(0deg);


    }
    to{
        transform: rotateY(180deg);
        z-index: 10;
    }

}
@-webkit-keyframes my2 {
    from{
        transform: rotateY(0deg);



    }
    to{
        transform: rotateY(180deg);


    }

}
@-webkit-keyframes my3 {
    from{
        transform: rotateY(0deg);



    }
    to{
        transform: rotateY(90deg);


    }

}
#H2,#P2{
    -webkit-animation: my3 1s linear infinite alternate ;


}
#fei{
    -webkit-animation: my 2s linear infinite alternate ;
}
#feo{
    -webkit-animation: my2 2s linear infinite alternate ;
}
/*#fanzhuan{*/
    /*-webkit-animation: my 5s linear infinite ;*/
/*}*/
#dao2_1:hover + #fanzhuan{
    transform: scale(-1,1.2);
    background-color: #00a0af;
}
#dao2_1{
      margin-left: 100px;
}
#dao2_1:hover{
    background-color:#ccd1d5 ;
}
#xiala2_2:hover{
    background-color:#ccd1d5 ;
}
#xiala2_3:hover{
    background-color:#ccd1d5 ;
}
#D2:hover{
    background-color: #d9dcdf;
}
#D2:hover #xiala2{
    visibility:visible;
    background-color: #d9dcdf;

}

#D3:hover{
    background-color: #d9dcdf;
}
#D4{
    position: relative;
}
#xiala4{
    width: 320px;
    height: 400px;
    /*outline: solid 1px;*/
    position: absolute;
    top: 30px;
    left: -220px;
    background-color: #48545a;
    visibility: hidden;
}
.logou{
    width: 48px;
    height: 48px;
    /*border: solid 1px;*/
    float: left;
    border-radius: 24px;
    margin-top: 10px;
    transition: transform 0.5s;


}

#lou1{
    margin-left: 35px;

}
.iconfont1{
    text-align: center;
    line-height: 48px;
}
#lou1:hover{
    transform: scale(1.2);
    background-color:#3b5998;
    color: #f9f7f1;
}
#lou2:hover{
    transform: scale(1.2);
    background-color:coral;
    color: #f9f7f1;
}
#lou3:hover{
    transform: scale(1.2);
    background-color:#55acee;
    color: #f9f7f1;
}
#lou4:hover{
    transform: scale(1.2);
    background-color:#dd4b39;
    color: #f9f7f1;
}
#lou5:hover{
    transform: scale(1.2);
    background-color:#cc2127;
    color: #f9f7f1;
}
.in{
   width: 288px;
    height: 49px;
    margin-top: 20px;
}
.im{
    width: 288px;
    height: 92px;
    margin-top: 30px;
}
.ia{
    width: 288px;
    height: 43px;
    margin-top: 20px;
    background-color: red;
}
#D4:hover{
    background-color: #d9dcdf;
}
#D4:hover #xiala4{

    visibility: visible;
    background-color: #d9dcdf;
}
/*.xiao{*/
    /*width: 95px;*/
    /*height: 44px;*/
    /*outline: solid 1px;*/
    /*text-align: center;*/
#jian div{
    width: 48px;
    height: 48px;
    /*outline: solid 1px;*/
}
#jian{
    width: 48px;

    /*outline: solid 1px red;*/
}

.owe{
    visibility: hidden;
}
#jian:hover .owe{
    visibility: visible;
}
#tou div{
    width: 0;
    overflow: hidden;
    /*border: solid 1px green;*/
    margin-left: 48px;
    margin-top: -35px;
    transition:width 0.5s;
    text-align: center;
    line-height: 48px;

}
#owe1 div{
    width: 0;
    overflow: hidden;
    /*border: solid 1px green;*/
    margin-left: 48px;
    margin-top: -35px;
    transition:width 0.5s;
    text-align: center;
    line-height: 48px;
}
#owe2 div{
    width: 0;
    overflow: hidden;
    /*border: solid 1px green;*/
    margin-left: 48px;
    margin-top: -35px;
    transition:width 0.5s;
    text-align: center;
    line-height: 48px;
}
#owe3 div{
    width: 0;
    overflow: hidden;
    /*border: solid 1px green;*/
    margin-left: 48px;
    margin-top: -35px;
    transition:width 0.5s;
    text-align: center;
    line-height: 48px;
}
#owe4 div{
    width: 0;
    overflow: hidden;
    /*border: solid 1px green;*/
    margin-left: 48px;
    margin-top: -35px;
    transition:width 0.5s;
    text-align: center;
    line-height: 48px;
}
#tou:hover div{
    width: 94px;

}
#owe1:hover div{
    width: 179px;
}
#owe2:hover div{
    width: 95px;
}
#owe3:hover div{
    width: 173px;
}
#owe4:hover div{
    width: 87px;
}
#jian i{
    color: floralwhite;
}
#tou,#owe1,#owe2,#owe3,#owe4{
    text-align: center;
}
#jian{
    position: fixed;
    top: 200px;;
}
#tou,#tou>div{
    background-color: #3b5998;
}
#owe1,#owe1>div{
    background-color: coral;
}
#owe2,#owe2>div{
    background-color: #cc2127;
}
#owe3,#owe3>div{
    background-color: #dd4b39;
}
#owe4,#owe4>div{
    background-color: #dd4b39;
}
#Section{
    /*outline: solid 1px red;*/
    width: 1140px;
    height: 184px;
    margin: auto;
}
#sect{
    width: 760px;
    height: 184px;
    /*outline: 1px solid green;*/
    margin: auto;
    text-align: center;
}
#sect2{
    width: 1140px;
    height: 420px;
    /*outline: solid 1px yellow;*/
    margin: auto;
}
.imgtop{
    width: 350px;
    height: 354px;
    /*outline: solid 1px salmon;*/
    float: left;
    text-align: center;

}
#sect2 time{
    color: coral;
}
#youxia1{
    width: 50px;
    height: 40px;
    background-color: coral;
    margin-left: 1180px;
    text-align: center;
    line-height: 40px;
}
#youxia1 i{
    font-size: 20px;
    transform: scale(1);
}
#youxia2{
    width: 50px;
    height: 40px;
    background-color: coral;
    margin-left: 1180px;
    margin-top: 2px;
    text-align: center;
    line-height: 40px;

}
#youxia2 i{
    font-size: 20px;
}
#youxia3{
    width: 50px;
    height: 40px;
    background-color: coral;
    margin-left: 1180px;
    margin-top: 2px;
    text-align: center;
    line-height: 40px;
}
#youxia3 i{
    font-size: 20px;
}
#youxia1 div{

    height: 40px;
    overflow: hidden;
    /*border: solid 1px;*/
    margin-left: -80px;
    margin-top: -45px;
    visibility: hidden;
    background-color:coral ;
    text-align: left;
    line-height: 40px;
}
#youxia2 div{
    margin-top: -40px;
    height: 40px;
    overflow: hidden;
    /*border: solid 1px;*/
    margin-left: -60px;
    visibility: hidden;
    background-color: coral;
    text-align: left;
    line-height: 40px;
}
#youxia3 div{
    margin-top: -40px;
    height: 40px;
    overflow: hidden;
    /*border: solid 1px;*/
    margin-left: -60px;
    visibility: hidden;
    background-color: coral;
    text-align: left;
    line-height: 40px;
}
#youxia1:hover div{
    visibility: visible;
}
#youxia1:hover i{
    font-size: 30px;
}
#youxia2:hover i{
    font-size: 30px;
}
#youxia3:hover i{
    font-size: 30px;
}
#youxia2:hover div{
    visibility: visible;
}
#youxia3:hover div{
    visibility: visible;
}
#foot{
    width: 1349px;
    height: 30px;
    /*outline: solid 1px;*/
}
#foot>div{
    width: 60px;
    height: 30px;
    /*border: solid 1px;*/
    border-radius: 0 0 30px 30px;
    background-color: #76828d;
    margin: auto;
    text-align: center;
    line-height: 30px;
}
#foot1{
    width: 1349px;
    height: 245px;
    /*outline: solid 1px red;*/
    text-align: center;
}
#weibiao{
    width: 1349px;
    height: 95px;
    /*outline: solid 1px;*/
    text-align: center;
}
#weibiao i{
    font-size: 40px;
    color: rgba(118,130,141,1);
}
#weibiao div{
    width: 60px;
    height: 60px;
    /*border: solid 1px;*/
    border-radius: 30px;
    float: left;
    text-align: center;
    line-height: 60px;
    background-color: rgb(216,220,223);
    color: rgb(118,130,141);
}
.as1{
    margin-left: 430px;
}
a{
    color: rgb(255,127,80);
}
.as1:hover{
    transform: scale(1.2);
    background-color:#3b5998;
    color: #f9f7f1;
}
.as2:hover{
    transform: scale(1.2);
    background-color:coral;
    color: #f9f7f1;
}
.as3:hover{
    transform: scale(1.2);
    background-color:#55acee;
    color: #f9f7f1;
}
.as4:hover{
    transform: scale(1.2);
    background-color:#dd4b39;
    color: #f9f7f1;
}
.as5:hover{
    transform: scale(1.2);
    background-color:#cc2127;
    color: #f9f7f1;
}
.as6:hover{
    transform: scale(1.2);
    background-color:#cc2127;
    color: #f9f7f1;
}
.as7:hover{
    transform: scale(1.2);
    background-color:#cc2127;
    color: #f9f7f1;
}
.as8:hover{
    transform: scale(1.2);
    background-color:#cc2127;
    color: #f9f7f1;
}